@font-face {
    font-family: 'Quicksand';
    src: URL('fonts/Quicksand.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    src: URL('fonts/RobotoSlab.ttf') format('truetype');
}

:root {
    --purple:#9167c2;
    --palegrey:#ced7db;
    --white: #ffffff;
}

::placeholder {
    color: var(--purple);
    opacity: 0.6;
}

body {
    overflow-y:hidden;
    text-align: center;
    background-color: var(--palegrey);
    font-family: 'RobotoSlab';
    font-size: 20px;
    color: var(--purple);
    margin: 0;
}

.button {
    color: var(--purple);
    background-color: var(--palegrey);
    border: 3px solid var(--purple);

    font-family: 'Quicksand';
    font-size: 20px;

    text-decoration: none;
    padding: 10px 20px;
    margin: 4px 4px;
    border-radius: 10px;

    outline: none;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
  }

.button:hover {
    color: var(--white);
    background-color: var(--purple);
}

#output {
    display: none;
    padding: 100px;
    width: 1000px;
}

#memtext {
    width: 500px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand';
    font-size: 20px;
    text-justify: auto;
    color: var(--purple);
    background-color: var(--white);
    padding-left: 15px;
}

.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #9167c2 0%, #7b5d9b 35%, #503074 100%);
    overflow: hidden;
    padding: 10px;
}

h1 {
    /*display: flex;*/
    font-family: 'RobotoSlab';
    font-size: 50px;
    color: var(--palegrey);
  }

#input {
    margin-top: 50px;
}

#controls {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logo {
    filter: invert(100%);
    float: left;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

#image {
    border-radius: 10px;
}