@font-face {
    font-family: 'Quicksand';
    src: URL('fonts/Quicksand.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    src: URL('fonts/RobotoSlab.ttf') format('truetype');
}

:root {
    --purple:#9167c2;
    --palegrey:#ced7db;
    --white: #ffffff;
}

::placeholder {
    color: var(--purple);
    opacity: 0.6;
}

body {
    /*overflow-y:hidden;*/
    text-align: center;
    background-color: var(--palegrey);
    font-family: 'RobotoSlab';
    font-size: 20px;
    color: var(--purple);
    margin: 0;
}

.button {
    color: var(--purple);
    background-color: var(--palegrey);
    border: 3px solid var(--purple);

    font-family: 'Quicksand';
    font-size: 20px;

    text-decoration: none;
    padding: 10px 20px;
    margin: 4px 4px;
    border-radius: 10px;

    outline: none;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
  }

.button:hover {
    color: var(--white);
    background-color: var(--purple);
}

#output {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    margin-top: 12px;
}

#memtext {
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand';
    font-size: 20px;
    text-justify: auto;
    color: var(--purple);
    background-color: var(--white);
    padding-left: 15px;
}

.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #9167c2 0%, #7b5d9b 35%, #503074 100%);
    overflow: hidden;
    padding: 10px;
}

h1 {
    /*display: flex;*/
    font-family: 'RobotoSlab';
    font-size: 50px;
    color: var(--palegrey);
  }

#input {
    /*margin-top: 50px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#controls {
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

#logo {
    filter: invert(100%);
    float: left;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

#image {
    border-radius: 10px;
    max-width: 100%;
}

#aibutton {
    background-color: var(--palegrey);
    margin-right: 0px;
}

#aibutton:hover {
    color: var(--white);
    background-color: var(--purple);
}

.split {
    height: 90%;
    top: 50%;
    width: 33.33%;
    position: absolute;
    z-index: 1;
    /*top: 0;*/
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.center {
    right: 33.33%;
    background-color: blue;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}