@font-face {
    font-family: 'Quicksand';
    src: URL('fonts/Quicksand.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    src: URL('fonts/RobotoSlab.ttf') format('truetype');
}

:root {
    --purple:#9167c2;
    --sand:#d8d8b8;
    --offwhite: #ffffff;
}

::placeholder {
    color: var(--purple);
    opacity: 0.6;
}

body {
    text-align: center;
    background-color: var(--sand);
    font-family: 'RobotoSlab';
    font-size: 20px;
    color: var(--purple);
    margin: 0;
}

.button {
    color: var(--offwhite);
    background-color: var(--purple);

    font-family: 'Quicksand';
    font-size: 20px;

    text-decoration: none;
    padding: 10px 20px;
    margin: 4px 4px;
    border-radius: 15px;

    outline: none;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
  }

.button:hover {opacity: 1}

#output {
    display: none;
    padding: 100px;
}

#memtext {
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: 'Quicksand';
    font-size: 20px;
    text-justify: auto;
    color: var(--purple);
    background-color: var(--offwhite);
    padding-left: 15px;
}

.header {
    color: var(--offwhite);
    background: linear-gradient(90deg, #9167c2 0%, #7b5d9b 35%, #503074 100%);
    font-family: 'Quicksand';
    font-size: 60px;
    padding: 20px;
    float: center;
    text-align: center;
  }

#input {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#image {
    padding-top: 30px;
    padding-bottom: 20px;
}